/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f7f7f7;
}

/* Title */
.title {
  margin-bottom: 2rem;
  color: #333;
}

/* Table Styling */
.MuiTable-root {
  width: 100%;
}

.MuiTableCell-root {
  font-size: 14px;
  font-weight: 500;
}

.MuiTableHead-root {
  background-color: #f1f1f1;
}

.MuiTableCell-head {
  font-weight: 700;
  color: #3f51b5;
}

.MuiTableBody-root {
  background-color: #fff;
}

.MuiTableRow-root:hover {
  background-color: #f4f4f4;
}

/* Logo Image */
.MuiTableCell-root img {
  width: 30px;
  height: 30px;
}
